{% include 'workouts/common/wrapper_header.html' %}
{% include 'workouts/common/header.html' %}
{% load staticfiles %}

<!-- Begin Page Content -->
<div class="hero-unit">
	<h2>Workout Widgets</h2>
	<div class="widget_box">
		
		<div class="summary_widget">
			<p class="widget_header">Weight</p>
			<a href="/workouts/weight"><p>{{ last_weight.weight }}</p></a>
			<p class="widget_subtext">({{ last_weight.date }})</p>
			<p><a href="/workouts/weight/add"><img src="{% static 'fitness/images/circle-plus-purple.png' %}" alt="" /></a></p>
		</div>
		<!-- <div class="summary_widget">
			<p class="widget_header">BMI</p>
		</div> -->
		<div class="summary_widget">
			<p class="widget_header">Days Since Last</p>
			<a href="/workouts/sessions"><p>{{days_since_last_workout.days}}</p></a>
			<p class="widget_subtext">({{ last_workout.date.date}})</p>
			<p><a href="/workouts/sessions/add"><img src="{% static 'fitness/images/circle-plus-purple.png' %}" alt="" /></a></p>
		</div>
		<div class="summary_widget">
			<p class="widget_header">Best Bench</p>
		</div>
		<div class="bumper"></div>
	</div>
</div>

<!-- End Page Content -->

{% include 'workouts/common/wrapper_footer.html' %}